body{
	/* background:teal; */
	margin: 0 0 0 0;
	background-color: #2c3e50;
}



/* start with @keyframes and need to give a name > {} */

@keyframes rainbowtext {
	
	0%{
		color: red;
		font-size: 20px;
	}
	
	25%{
		color: orange;
		font-size: 30px;
	}
	50%{
		color: yellow;
		font-size: 40px;
	}
	
	75%{
		color: green;
		font-size: 30px;
	}
	100%{
		color: blue;
		font-size: 20px;
	}
}

/* p{ */
	/* animation-name: rainbowtext; */
	/* animation-duration: 3s; */
	/* animation-timing-function: linear; */
	/* animation-delay: 0s; */
	/* animation-iteration-count: infinite; */
/* } */


/* rising sun */

h1{
	text-align: center;
}
div.sky{
	height: 250px;
	background: blue;
	width: 100%;
	/* for animation */
	animation-name: skystates; 
	animation-duration: 5s; 
	animation-timing-function: linear; 
	animation-delay: 0s; 
	animation-iteration-count: infinite; 
}

div.land{
	height:500px;
	width: 100%;
	background: green;
	position: absolute;
}

div.sun{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #f1c40f;
	
	/* for animation */
	animation-name: risingsun; 
	animation-duration: 5s; 
	animation-timing-function: linear; 
	animation-delay: 0s; 
	animation-iteration-count: infinite; 
	
}

@keyframes skystates{
	0%{
		background: #2c3e50;;
	}
	
	20%{
		background: #ffb7bb;
	}
	
	30%{
		background: #008edc;
	}
	60%{
		background: #008edc;
	}
	80%{
		background: #ffb7bb;
	}
	100%{
		background: #2c3e50;
	}
	
	
}

@keyframes risingsun{
	0%{
		background: red;
		transform:translate(-25%, 100%);
	}
	
	25%{
		background: #f1c40f;
		transform:translate(150%, 0%);
	}
	
	50%{
		background: #f1c40f;
		transform:translate(325%, -50%);
	}
	75%{
		background: yellow;
		transform:translate(500%, 0%);
	}
	100%{
		background: red;
		transform:translate(675%, 100%);
	}
	
}




